table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.workout-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.workout-row:not(.expanded-row):active {
  background: #efefef;
}

.workout-row td {
  border-bottom-width: 0;
}

.workout-detail {
  overflow: hidden;
  /* display: flex; */
}